.food-container{
    display:flex;
    justify-content: space-between;
}
.img-container{
    position: relative;
}
.img-content {
    
    position: absolute;
    top: 30%;
    left: 30%;
}
 
 
@media(max-width:425px){
    .food-container{
        display:block;
      
    }
    .food-type{
        margin-bottom:25px;
    }
    .btn{
        width:150px;
    }
    .img-container img{
        margin-left:35px;
        width:350px;
    }
}
