.form-container{

    flex-direction: column;
    gap: 15px;
    margin-top: 90px;
}
.form-container input{
    width: 300px;
    border: none;
    border-bottom: 2px solid #ddd;
}
.form-container textarea{
    width: 300px;
    border: none;
    border-bottom: 2px solid #ddd;
}
.contact-container{
    display:flex;
    gap: 100px;
    margin-bottom: 50px;
    
}
.contact-img img{
    margin-top: 100px;
    height: 300px;
    width: 500px;
    margin-left: 60px;
}
@media(max-width:425px){
    .contact-container{
        display:block;
    }
    .contact-img img{
   
        height: 200px;
        width: 300px;
   
    }
    .form-container{
        margin-left:50px;
    }
    .btn{
        width:300px;
    }
}