#food-menu-container{
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.food-img img{
    height: 197px;
    width: 200px;
}
#food-box{
    border: 1px solid black;
    height: 200px;
    width: 500px;
    margin-bottom: 50px;
}
@media(max-width:425px) {
    #food-box{
        height:230px;
        margin-bottom:20px
    }
    .food-img img{
        height: 227px;
    
    }
    #food-menu-container{
        justify-content: space-between;
        gap: 0px;
       
    }
    .font-size{
        font-size:13px;
    }

}